<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coastline20">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/coastline_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/coastline_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.ActionBar" />
        <activity android:name=".activity.MiaoliActivity" />
        <activity android:name=".activity.TaichungActivity" />
        <activity android:name=".activity.MiaoliStationsActivity" />
        <activity android:name=".activity.miaoli.baishatun.Baishatun1Activity" />
        <activity android:name=".activity.miaoli.dashan.Dashan1Activity" />
        <activity android:name=".activity.miaoli.houlong.Houlong1Activity" />
        <activity android:name=".activity.miaoli.longgang.Longgang1Activity" />
        <activity android:name=".activity.miaoli.tanwen.Tanwen1Activity" />
        <activity android:name=".activity.miaoli.tongxiao.Tongxiao1Activity" />
        <activity android:name=".activity.miaoli.xinpu.Xinpu1Activity" />
        <activity android:name=".activity.miaoli.yuanli.Yuanli1Activity" />
        <activity android:name=".activity.miaoli.baishatun.Baishatun2Activity" />
        <activity android:name=".activity.miaoli.baishatun.Baishatun3Activity" />
        <activity android:name=".activity.TaichungStationsActivity" />
        <activity android:name=".activity.miaoli.tanwen.Tanwen2Activity" />
        <activity android:name=".activity.miaoli.longgang.Longgang2Activity" />
        <activity android:name=".activity.miaoli.longgang.Longgang3Activity" />
        <activity android:name=".activity.miaoli.longgang.Longgang4Activity" />
        <activity android:name=".activity.miaoli.longgang.Longgang5Activity" />
        <activity android:name=".activity.miaoli.longgang.Longgang6Activity" />
        <activity android:name=".activity.miaoli.longgang.Longgang7Activity" />
        <activity android:name=".activity.miaoli.xinpu.Xinpu2Activity" />
        <activity android:name=".activity.miaoli.xinpu.Xinpu3Activity" />
        <activity android:name=".activity.miaoli.tongxiao.Tongxiao2Activity" />
        <activity android:name=".activity.miaoli.tongxiao.Tongxiao3Activity" />
        <activity android:name=".activity.miaoli.tongxiao.Tongxiao4Activity" />
        <activity android:name=".activity.miaoli.tongxiao.Tongxiao5Activity" />
        <activity android:name=".activity.miaoli.yuanli.Yuanli2Activity" />
        <activity android:name=".activity.miaoli.yuanli.Yuanli3Activity" />
        <activity android:name=".activity.miaoli.yuanli.Yuanli4Activity" />
        <activity android:name=".activity.miaoli.yuanli.Yuanli5Activity" />
        <activity android:name=".activity.miaoli.yuanli.Yuanli6Activity" />
        <activity android:name=".activity.taichung.rinan.Rinan1Activity" />
        <activity android:name=".activity.taichung.rinan.Rinan2Activity" />
        <activity android:name=".activity.taichung.dajia.Dajia1Activity" />
        <activity android:name=".activity.taichung.dajia.Dajia2Activity" />
        <activity android:name=".activity.taichung.dajia.Dajia3Activity" />
        <activity android:name=".activity.taichung.dajia.Dajia4Activity" />
        <activity android:name=".activity.taichung.dajia.Dajia5Activity" />
        <activity android:name=".activity.taichung.dajia.Dajia6Activity" />
        <activity android:name=".activity.taichung.taichung_port.TaichungPort1Activity" />
        <activity android:name=".activity.taichung.qingshui.Qingshui1Activity" />
        <activity android:name=".activity.taichung.qingshui.Qingshui2Activity" />
        <activity android:name=".activity.taichung.qingshui.Qingshui3Activity" />
        <activity android:name=".activity.taichung.qingshui.Qingshui4Activity" />
        <activity android:name=".activity.taichung.qingshui.Qingshui5Activity" />
        <activity android:name=".activity.taichung.qingshui.Qingshui6Activity" />
        <activity android:name=".activity.taichung.qingshui.Qingshui7Activity" />
        <activity android:name=".activity.taichung.qingshui.Qingshui8Activity" />
        <activity android:name=".activity.taichung.qingshui.Qingshui9Activity" />
        <activity android:name=".activity.taichung.qingshui.Qingshui10Activity" />
        <activity android:name=".activity.taichung.shalu.Shalu1Activity" />
        <activity android:name=".activity.taichung.shalu.Shalu2Activity" />
        <activity android:name=".activity.taichung.shalu.Shalu3Activity" />
        <activity android:name=".activity.taichung.longjing.Longjing1Activity" />
        <activity android:name=".activity.taichung.longjing.Longjing2Activity" />
        <activity android:name=".activity.taichung.longjing.Longjing3Activity" />
        <activity android:name=".activity.taichung.longjing.Longjing4Activity" />
        <activity android:name=".activity.taichung.zhuifen.Zhuifen1Activity" />
        <activity android:name=".activity.taichung.zhuifen.Zhuifen2Activity" />
        <activity android:name=".activity.taichung.dadu.Dadu1Activity" />
        <activity android:name=".activity.taichung.dadu.Dadu2Activity" />
        <activity android:name=".activity.taichung.dadu.Dadu3Activity" />
        <activity android:name=".activity.taichung.dadu.Dadu4Activity" />
        <activity android:name=".activity.taichung.dadu.Dadu5Activity" />
        <activity android:name=".activity.taichung.dadu.Dadu6Activity" />
        <activity android:name=".activity.miaoli.houlong.food.HoulongFood1Activity" />
        <activity android:name=".activity.miaoli.houlong.food.HoulongFood2Activity" />
        <activity android:name=".activity.miaoli.houlong.food.HoulongFood3Activity" />
        <activity android:name=".activity.miaoli.houlong.food.HoulongFood4Activity" />
        <activity android:name=".activity.miaoli.houlong.food.HoulongFood5Activity" />
        <activity android:name=".activity.miaoli.houlong.food.HoulongFood6Activity" />
        <activity android:name=".activity.miaoli.baishatun.food.BaishatunFood1Activity" />
        <activity android:name=".activity.miaoli.baishatun.food.BaishatunFood2Activity" />
        <activity android:name=".activity.miaoli.baishatun.food.BaishatunFood3Activity" />
        <activity android:name=".activity.miaoli.baishatun.food.BaishatunFood4Activity" />
        <activity android:name=".activity.miaoli.baishatun.food.BaishatunFood5Activity" />
        <activity android:name=".activity.miaoli.tongxiao.food.TongxiaoFoodBlogActivity" />
        <activity android:name=".activity.miaoli.tongxiao.food.TongxiaoFood1Activity" />
        <activity android:name=".activity.miaoli.tongxiao.food.TongxiaoFood2Activity" />
        <activity android:name=".activity.miaoli.tongxiao.food.TongxiaoFood3Activity" />
        <activity android:name=".activity.miaoli.tongxiao.food.TongxiaoFood4Activity" />
        <activity android:name=".activity.miaoli.tongxiao.food.TongxiaoFood5Activity" />
        <activity android:name=".activity.miaoli.tongxiao.food.TongxiaoFood6Activity" />
        <activity android:name=".activity.miaoli.yuanli.food.YuanliFoodBlog1Activity" />
        <activity android:name=".activity.miaoli.yuanli.food.YuanliFoodBlog2Activity" />
        <activity android:name=".activity.taichung.dajia.food.DajiaFoodBlogActivity" />
        <activity android:name=".activity.taichung.qingshui.food.QingshuiFoodBlogActivity" />
        <activity android:name=".activity.taichung.shalu.food.ShaluFoodBlogActivity" />
        <activity android:name=".activity.taichung.longjing.food.LongjingFoodBlogActivity" />
        <activity android:name=".activity.taichung.dadu.food.DaduFood1Activity" />
        <activity android:name=".activity.taichung.dadu.food.DaduFood2Activity" />
        <activity android:name=".activity.taichung.zhuifen.food.ZhuifenFood1Activity" />
        <activity android:name=".activity.TimetableActivity"></activity>
    </application>

</manifest>